<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Food Ingredients</title>
    <link rel="stylesheet" href="../css/new.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;500;700&family=Yantramanav&display=swap" rel="stylesheet">  
</head>
<body>

    <ul class="nav-list" id="nav-list">  
        <div class="toggle" onclick="myFunction(this)">
            <div class="barOne"></div>
            <div class="barTwo"></div>
            <div class="barThree"></div>
        </div>                                
            <div class="nav-items">
                <li class="nav-item">
                    <a href="../index.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="userPages/user.profile.html" class="nav-link">Edit Profile</a>
                </li>
                <li class="nav-item">
                    <a href="userPages/user.recipes.html" class="nav-link">My Recipes</a>
                </li>
                <li class="nav-item">
                    <a href="userPages/user.new.recipe.html" class="nav-link">New Recipie</a>
                </li>
                <li class="nav-item">
                    <a href="pages/login.html" class="nav-link">Logout</a>
                </li>                               
            </div>                          
    </ul>
        <div class="user-box">        
            <div class="profile-image">                      
                <img src="../img/user/taylor-8Vt2haq8NSQ-unsplash.jpg" alt="" srcset="">
            </div>
                <div class="user-information">
                    <div class="name">
                        <h3>Name: Lorem, ipsum.</h3>                    
                    </div>
                        <div class="username">
                            <span>Username: radoslav_j</span>
                        </div>
                            <div class="description">
                                <h3>Short Bio</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, assumenda.</p>
                            </div>
                                <h3>My recipes</h3>
                                    <div class="recipies">
                                        <a href="">Lorem ipsum</a>
                                        <a href="">Lorem ipsum</a>
                                        <a href="">Lorem ipsum</a>
                                        <a href="">Lorem ipsum</a>
                                    </div>
                </div>
        </div>
                    <script src="../js/scripts.js"></script>

</body>
</html>