*{
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Yantramanav', sans-serif, 'Fira Sans Condensed', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;    
}
.nav-list{
    margin: 0;
    padding: 0;
    margin-bottom: 20px; 
    width: 100%;
    height: 45px;
    background: #7c4937;
}
.nav-list .toggle{
    display: block;
    cursor: pointer;
    padding: 10px 0 9px 10px;
    background: #7c4937;
    width: 50px;
}
.toggle div{
    width: 25px;
    height: 3px;
    background-color: #8a8a8a;
    margin: 4px 0;
    transition: 0.5s;
}
.change .barOne{
    -webkit-transform: rotate(-45deg) translate(-6px, 4px);
    transform: rotate(-45deg) translate(-6px, 4px);
    background: #8a8a8a;
}
.change .barTwo {
    opacity: 0;
}
.change .barThree {
    -webkit-transform: rotate(45deg) translate(-6px, -4px);
    transform: rotate(45deg) translate(-6px, -4px);
    background: #8a8a8a;
}
.nav-items{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30vh;
    background-color: #7c4937; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-around;  
    clip-path: circle(50px at 0% -30%);
    -webkit-clip-path: circle(50px at 0% -30%);
    transition: all 1s ease-in-out;
    z-index: 1;
}
.nav-items.open{
    clip-path: circle(600px at 0% -30%);
    -webkit-clip-path: circle(600px at 0% -30%);
}
.nav-items li a{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    transition: color 0.5s;
}
.nav-items li a:hover{
    color: #e2be32;
}
.user-box{
    width: 90%;    
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    text-align: center;
    justify-content: space-between;
    margin-top: 350px;
    margin-bottom: 50px;
}
.user-box .profile-image{
    max-width: 80%;
    height: 300px;
    margin-bottom: 30px;
    margin: 0px auto;
    text-align: center;
    border-radius: 50%;
}
.profile-image img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #7c4937;
}
.user-box .user-information{
    margin-top: 20px;
}
.user-information h3{
    color: #7c4937;
    font-size: 18px;
    text-transform: capitalize;
}
.user-information span{
    color: #8a8a8a;
    font-size: 14px;
}
.user-information p{
    font-size: 16px;
    color: #e2be32;
    text-transform: capitalize;
}
.user-information .recipies{    
    margin: 0px auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;    
}
.recipies a{
    max-width: 150px;
    padding: 5px;
    background: #7c4937;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    transition: color .5s;
    cursor: pointer;
    border-radius: 3vw;
}
.recipies a:hover{
    color: #e2be32;
}
/*************************USER PROFILE*********************/
.user-profile{
    margin: 0;
    padding: 0;
}
.user-profile form{
    width: 90%;    
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    text-align: center;
    justify-content: space-between;
    margin-top: 350px;
    margin-bottom: 50px;
}
.user-profile .image{
    max-width: 100%;
    height: 100%;
    margin: 0px auto;
    position: relative;
    margin-bottom: 100px;
    border-radius: 50%;
}
.image img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #7c4937;   
}
.image input[type="file"]{
    display: none;
}
.image label{
    color: #fff;
    height: 25px;
    width: 120px;
    background: #7c4937;
    position: absolute;
    text-transform: uppercase;
    margin: auto;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    bottom: 5%;
    left: 5%;
    border-radius: 3vw; 
    transition: color .5s;  
}
.image label:hover{
    color: #e2be32;
}
.user-information h3{
    color: #7c4937;
    font-size: 18px;
    text-transform: capitalize;
    text-transform: uppercase;
}
.user-information div{
    margin-bottom: 10px;
}
.user-information label{
    font-size: 16px;
    color: #8a8a8a;
    margin: 0;
}
.user-information span{
    font-size: 14px;
}
.user-information input{
    height: 30px;
    margin: 10px 0;
    width: 100%;
    border: 2px solid #7c4937;
    border-radius: 6px;
}
.user-information input:focus{
    outline: none;
}
.user-information textarea{
    width: 100%;
    border: 2px solid #7c4937;
    margin-top: 10px;
    border-radius: 6px;
}
.user-information textarea:focus{
    outline: none;
}
.user-information button{
    padding: 7px 35px;
    color: #fff;
    background: #7c4937;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    transition: color .5s;
    cursor: pointer;
}
.user-information button:hover{
    color: #e2be32;
}
/*************************USER PROFILE*********************/
/*************************NEW RECIPE*********************/
.new-recipe-box{
    margin: 0;
    padding: 0;
}
.new-recipe-box form{
    width: 90%;    
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    text-align: center;
    justify-content: space-between;
    margin-top: 350px;
    margin-bottom: 50px;
}
.new-recipe-box .recipe-image{
    width: 100%;
    height: 100%;
    margin: 0px auto;
    position: relative;
    margin-bottom: 100px;
}
.recipe-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #7c4937;
}
.recipe-image input[type="file"]{
    display: none;
}
.recipe-image label{
    color: #fff;
    height: 25px;
    width: 120px;
    background: #7c4937;
    position: absolute;
    text-transform: uppercase;
    margin: auto;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    bottom: 5%;
    left: 5%;
    border-radius: 3vw;
    transition: color .5s;  
}
.recipe-image label:hover{
    color: #e2be32;
}
.new-recipe h3{
    color: #7c4937;
    font-size: 18px;
    text-transform: capitalize;
    text-transform: uppercase;
}
.new-recipe label{
    font-size: 16px;
    color: #8a8a8a;
    margin: 0;
}
.new-recipe input{
    height: 30px;
    margin: 10px 0;
    width: 100%;
    border: 2px solid #7c4937;
    border-radius: 6px;
}
.new-recipe input:focus{
    outline: none;
}
.new-recipe div{
    margin-bottom: 10px;
}
.new-recipe select{
    height: 30px;
    margin: 10px 0;
    width: 100%;
    border: 2px solid #7c4937;
    border-radius: 6px;
}
.new-recipe select:focus{
    outline: none;
}
.new-recipe select option{
    color: #7c4937;
    font-size: 16px;
    border: 2px solid #7c4937;
}
.new-recipe textarea{
    width: 100%;
    border: 2px solid #7c4937;
    border-radius: 6px;
    margin-top: 10px;
}
.new-recipe textarea:focus{
    outline: none;
}
.new-recipe button{
    padding: 7px 35px;
    color: #fff;
    background: #7c4937;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    transition: color .5s;
    cursor: pointer;
}
.new-recipe button:hover{
    color: #e2be32;
}
/*************************NEW RECIPE*********************/
/*************************USER RECIPES*********************/
.user-recipes{
    margin: 0px auto;
    text-align: center;
    justify-content: center;
    width: 90%;
    margin-top: 40vh;
}
.user-recipes section{
    margin: 100px 0 100px 0;
}
.user-recipes h1{
    margin: 0;
    font-size: 22px;
    text-transform: uppercase;
    color: #7c4937;
    border-top: 2px solid #8a8a8a;
    border-bottom: 2px solid #8a8a8a;
}
section .container{
    margin-top: 50px;
}
.container .recipe-box{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.recipe-box .recipe-image{
    width: 100%;
    height: 200px;
}
.recipe-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.recipe-box .left-side{
    margin-top: 20px;
    text-align: left;
}
.left-side h2{
    margin: 0;
    font-size: 20px;
    color: #7c4937;
}
.left-side h3{
    font-size: 18px;
    color: #7c4937;
}
.left-side p{
    color: #7c4937;
    font-size: 14px;
}
.left-side span{
    font-size: 12px;
    color: #8a8a8a;
}
/*************************USER RECIPES*********************/
@media only screen and (min-width: 450px){    
    
    .nav-items.open{
        clip-path: circle(700px at 0% -30%);
        -webkit-clip-path: circle(700px at 0% -30%);
    } 
    .user-box .profile-image{
        height: 300px;
        width: 300px;        
    }
    .user-box .user-information{
        margin: 0px auto;
        width: 80%;
    }
    /*************************USER PROFILE*********************/
    .user-profile .image{
        height: 300px;
        width: 300px;        
    }
    .user-profile .user-information{
        margin: 0px auto;
        width: 80%;
    }
    /*************************USER PROFILE*********************/
    /*************************NEW RECIPE*********************/
    .new-recipe-box .recipe-image{
        height: 300px;
        width: 300px;        
    }
    .new-recipe-box .new-recipe{
        margin: 0px auto;
        width: 80%;
    }
    /*************************NEW RECIPE*********************/
    /*************************USER RECIPE*********************/
    .recipe-box .recipe-image{
        height: 300px;
    }
    /*************************USER RECIPE*********************/
}
@media only screen and (min-width: 550px){    
    
    .nav-items.open{
        clip-path: circle(800px at 0% -30%);
        -webkit-clip-path: circle(800px at 0% -30%);
    } 
    .user-box .user-information{
        width: 70%;
    }
    /*************************USER PROFILE*********************/
    .user-profile .user-information{
        width: 70%;
    }
    /*************************USER PROFILE*********************/
    /*************************NEW RECIPE*********************/
    .new-recipe-box .new-recipe{
        width: 70%;
    }
    /*************************NEW RECIPE*********************/
    /*************************USER RECIPE*********************/
    .recipe-box .recipe-image{
        height: 350px;
    }
    /*************************USER RECIPE*********************/
}
@media only screen and (min-width: 650px){    
    
    .nav-items.open{
        clip-path: circle(1000px at 0% -30%);
        -webkit-clip-path: circle(1000px at 0% -30%);
    } 
    .user-box .profile-image{
        height: 400px;
        width: 400px;         
    } 
    .user-box .user-information{
        width: 60%;
    }
    /*************************USER PROFILE*********************/
    .user-profile .image{
        height: 400px;
        width: 400px;         
    } 
    .user-profile .user-information{
        width: 60%;
    }
    /*************************USER PROFILE*********************/
    /*************************NEW RECIPE*********************/
    .new-recipe-box .recipe-image{
        height: 400px;
        width: 400px;         
    } 
    .new-recipe-box .new-recipe{
        width: 60%;
    }
    /*************************NEW RECIPE*********************/
    /*************************USER RECIPE*********************/
    .user-recipes .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    .recipe-box .recipe-image{
        height: 250px;
    }
    /*************************USER RECIPE*********************/
}
@media only screen and (min-width: 850px){ 
    .nav-list{
        position: fixed;
        top: 0;
        z-index: 1;
    }
    .nav-items{        
        width: 170px;
        height: calc(100vh - 44px);
    }
    .nav-items.open{
        clip-path: circle(1300px at 0% -30%);
        -webkit-clip-path: circle(1300px at 0% -30%);
    } 
    .user-box{
        width: auto;
        display: flex;
        flex-direction: row-reverse;
        margin-top: 200px;
        margin-bottom: 0;
        margin-left: 200px;
        margin-right: 20px;
        text-align: left;
    }
    .user-box .profile-image{
        width: 450px;
        margin-bottom: 0;
    }
    .user-information{
        width: 50%;
    }
    .user-information h3{
        font-size: 22px;
    }
    .user-information span{
        font-size: 16px;
    }
    .user-information p{
        font-size: 18px;
    }
    .recipies a{
        font-size: 14px;
    } 
    /*************************USER PROFILE*********************/
    .user-profile form{
        width: auto;
        display: flex;
        flex-direction: row-reverse;
        margin-top: 50px;
        margin-bottom: 30px;
        margin-left: 200px;
        margin-right: 20px;
        text-align: left;
    }
    .user-profile .image{
        width: 450px;
        margin-bottom: 0;
        margin-top: 100px;
    }
    .user-profile .user-information{
        width: 50%;
        margin-right: 20px;
    }
    .user-information h3{
        font-size: 22px;
    }
    .user-information span{
        font-size: 16px;
    }
    /*************************USER PROFILE*********************/
    /*************************NEW RECIPE*********************/
    .new-recipe-box{
        margin-top: 100px;
    }
    .new-recipe-box form{
        width: auto;
        display: flex;
        flex-direction: row-reverse;
        margin-top: 50px;
        margin-bottom: 30px;
        margin-left: 200px;
        margin-right: 20px;
        text-align: left;
    }
    .new-recipe-box .recipe-image{
        width: 450px;
        margin-bottom: 0;
        margin-top: 20px;
    }
    .new-recipe-box .new-recipe{
        width: 50%;
        margin-right: 20px;
    }
    .new-recipe h3{
        font-size: 22px;
    }
    /*************************NEW RECIPE*********************/
    /*************************USER RECIPES*********************/
    .user-recipes{
        width: auto;
        margin-top: 100px;
        margin-left: 200px;
        margin-right: 30px;
    }
    .user-recipes h1{
        font-size: 25px;
    }
    section .container{
        margin-top: 50px;
    }
    .recipe-box .recipe-image{
        height: 250px;
    }
    .left-side h2{
        font-size: 22px;
    }
    .left-side h3{
        font-size: 20px;
    }
    .left-side p{
        font-size: 16px;
    }
    .left-side span{
        font-size: 14px;
    }
    /*************************USER RECIPES*********************/
}
@media only screen and (min-width: 1000px){
    .nav-items{        
        width: 200px;
    }
    .nav-items.open{
        clip-path: circle(2000px at 0% -30%);
        -webkit-clip-path: circle(2000px at 0% -30%);
    } 
    .user-box{
        margin-left: 250px;
    }
    .user-box .profile-image{
        height: 450px;
        width: 450px;         
    } 
    .user-box .user-information{
        margin-top: 30px;
        width: 50%;
    }
    /*************************USER PROFILE*********************/
    .user-profile form{
        margin-left: 250px;
        margin-top: 50px;
    }
    .user-profile .image{
        height: 450px;
        width: 450px;         
    } 
    .user-profile .user-information{        
        width: 50%;
    }
    /*************************USER PROFILE*********************/
    /*************************NEW RECIPE*********************/
    .new-recipe-box form{
        margin-left: 250px;
        margin-top: 50px;
    }
    .new-recipe-box .recipe-image{
        height: 450px;
        width: 450px;         
    } 
    .new-recipe-box .new-recipe{      
        width: 50%;
    }
    /*************************NEW RECIPE*********************/
    /*************************USER RECIPES*********************/
    .user-recipes{
        margin-left: 250px;
    }
    .recipe-box .recipe-image{
        height: 250px;
    }
    /*************************USER RECIPE*********************/
}
@media only screen and (min-width: 1200px){
    .user-box .profile-image{
        height: 500px;
        width: 500px;         
    } 
    /*************************USER PROFILE*********************/
    .user-profile .image{
        height: 500px;
        width: 500px;         
    } 
    .user-profile .user-information{        
        width: 40%;
    }
    .image label{
        height: 30px;
        width: 150px;
        font-size: 16px;
        left: 8%;  
    }
    /*************************USER PROFILE*********************/
    /*************************NEW RECIPE*********************/
    .user-box form{
        margin-top: 100px;
    }
    .new-recipe-box .recipe-image{
        height: 500px;
        width: 500px;         
    } 
    .new-recipe-box .new-recipe{        
        width: 40%;
    }
    .recipe-image label{
        height: 30px;
        width: 150px;
        font-size: 16px;
        left: 8%;  
    }
    /*************************NEW RECIPE*********************/
    /*************************USER RECIPES*********************/
    .recipe-box .recipe-image{
        height: 300px;
    }
    /*************************USER RECIPE*********************/
}
@media only screen and (min-width: 1350px){
    .user-box{
        margin: 100px 50px 0 350px;
    }
    .user-box .profile-image{
        height: 600px;
        width: 600px;         
    } 
    .user-box .user-information{
        width: 40%;
    }
    .user-information h3{
        font-size: 25px;
    }
    .user-information span{
        font-size: 18px;
    }
    .user-information p{
        font-size: 20px;
    }
    .recipies a{
        font-size: 16px;
    }
    /*************************USER PROFILE*********************/
    .user-profile form{
        margin-right: 50px;
        margin-left: 350px;
    }
    .user-profile .image{
        height: 600px;
        width: 600px;         
    } 
    .user-profile .user-information{
        width: 40%;
    }
    .user-information h3{
        font-size: 25px;
    }
    .user-information span{
        font-size: 18px;
    }
    /*************************USER PROFILE*********************/
    /*************************NEW RECIPE*********************/
    .new-recipe-box form{
        margin: 100px 50px 0 350px;
    }
    .new-recipe-box .recipe-image{
        height: 600px;
        width: 600px;         
    } 
    .new-recipe-box .new-recipe{
        width: 40%;
    }
    .new-recipe h3{
        font-size: 25px;
    }
    .user-information label{
        font-size: 18px;
    }
    /*************************NEW RECIPE*********************/
    /*************************USER RECIPE*********************/
    .user-recipes .container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }
    .recipe-box .recipe-image{
        height: 250px;
    }
    .user-recipes h1{
        font-size: 30px;
    }
    .left-side h2{
        font-size: 25px;
    }
    .left-side h3{
        font-size: 22px;
    }
    .left-side p{
        font-size: 18px;
    }
    .left-side span{
        font-size: 16px;
    }
    /*************************USER RECIPE*********************/
}
@media only screen and (min-width: 1500px){
    .user-box .profile-image{
        height: 700px;
        width: 700px;         
    }
    /*************************USER PROFILE*********************/
    .user-profile .image{
        height: 700px;
        width: 700px;         
    }
    .image label{
        left: 10%;  
    }
    /*************************USER PROFILE*********************/
    /*************************NEW RECIPE*********************/
    .recipe-image label{
        left: 10%;  
    }
    .new-recipe-box .new-recipe{
        width: 30%;
    }
    /*************************NEW RECIPE*********************/
    /*************************USER RECIPE*********************/
    .recipe-box .recipe-image{
        height: 300px;
    }
    /*************************USER RECIPE*********************/
        
}