*{
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Yantramanav', sans-serif, 'Fira Sans Condensed', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;    
}
.nav-list{
    margin: 0;
    padding: 0;
    margin-bottom: 20px; 
    width: 100%;
    height: 45px;
    background: #7c4937;
}
.nav-list .toggle{
    display: block;
    cursor: pointer;
    padding: 10px 0 9px 10px;
    background: #7c4937;
    width: 50px;
}
.toggle div{
    width: 25px;
    height: 3px;
    background-color: #8a8a8a;
    margin: 4px 0;
    transition: 0.5s;
}
.change .barOne{
    -webkit-transform: rotate(-45deg) translate(-6px, 4px);
    transform: rotate(-45deg) translate(-6px, 4px);
    background: #8a8a8a;
}
.change .barTwo {
    opacity: 0;
}
.change .barThree {
    -webkit-transform: rotate(45deg) translate(-6px, -4px);
    transform: rotate(45deg) translate(-6px, -4px);
    background: #8a8a8a;
}
.nav-items{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30vh;
    background-color: #7c4937; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-around;  
    clip-path: circle(50px at 0 -30%);
    -webkit-clip-path: circle(50px at 0% -30%);
    transition: all 1s ease-in-out;
    z-index: 1;
}
.nav-items.open{
    clip-path: circle(600px at 0% -30%);
    -webkit-clip-path: circle(600px at 0% -30%);
}
.nav-items li a{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    transition: color 0.5s;
}
.nav-items li a:hover{
    color: #e2be32;
}/*
.user-box{     
    position: absolute;
    margin-top: 35vh;
    left: 10px;
    right: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.user-box img{
    margin: 0px auto;   
    width: 70%;
    height: 30%;
    object-fit: cover;
    border-radius: 50%;
}
.user-information{
    height: 50%;
}
.user-box h3{
    color: #7c4937;
    font-size: 18px;
    text-transform: capitalize;
}
.user-box span{
    color: #8a8a8a;
    font-size: 14px;
}
.user-box p{
    font-size: 16px;
    color: #e2be32;
    text-transform: capitalize;
}
.user-box .recipies{
    width: 100%;
    margin: 0px auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.recipies a{
    padding: 5px 5px;
    font-size: 12px;
    color: #7c4937;
    text-transform: uppercase;
    transition: color .5s;
    cursor: pointer;
}
.recipies a:hover{
    color: #e2be32;
}
/*****************USER PROFILE********************/
.user-profile h3{
    font-size: 25px;
    color: #7c4937;
    text-transform: uppercase;
}
.user-profile div{
    margin-bottom: 10px;
}
.user-profile label{
    font-size: 16px;
    color: #8a8a8a;
    margin: 0;
}
.user-profile input{
    height: 30px;
    margin: 10px 0;
    width: 80%;
    border: 1px solid #7c4937;
}
.user-profile textarea{
    width: 80%;
    border: 1px solid #7c4937;
    margin-top: 10px;
}
.user-profile button{
    padding: 10px 35px;
    color: #fff;
    background: #7c4937;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
}
/*****************USER PROFILE********************/
@media only screen and (min-width: 450px){    
    
    .nav-items.open{
        clip-path: circle(700px at 0% -30%);
        -webkit-clip-path: circle(700px at 0% -30%);
    }   
    .user-box img{
        width: 50%;               
    }
}
@media only screen and (min-width: 550px){    
    
    .nav-items.open{
        clip-path: circle(800px at 0% -30%);
        -webkit-clip-path: circle(800px at 0% -30%);
    }       
    .user-box img{
        width: 50%;
        height: 50%;        
    }
    /*****************USER PROFILE********************/
    .user-profile input{
        width: 60%;
    }   
    .user-profile textarea{
        width: 60%;
    }
    /*****************USER PROFILE********************/
}
@media only screen and (min-width: 650px){    
    
    .nav-items.open{
        clip-path: circle(1000px at 0% -30%);
        -webkit-clip-path: circle(1000px at 0% -30%);
    }    
    .user-box img{
        height: 70%;
        width: 50%;        
    }
    .user-information{
        height: 40%;
    }
    /*****************USER PROFILE********************/
    .user-profile input{
        margin: 5px 0;
        width: 50%;
    }   
    .user-profile textarea{
        width: 50%;
        margin-top: 5px;
    }
    /*****************USER PROFILE********************/
}
@media only screen and (min-width: 850px){    
    
    
    .nav-items{        
        width: 170px;
        height: calc(100vh - 45px);
    }
    .nav-items.open{
        clip-path: circle(1300px at 0% -30%);
        -webkit-clip-path: circle(1300px at 0% -30%);
    } 
    .user-box{        
        width: 70%;
        height: calc(100vh - 145px);
        top: 100px;
        right: 20px;
        margin-top: 0;
        margin-left: 200px; 
        text-align: left;
        margin-bottom: 0;       
    }
    .user-box img{           
        width: 50%;
        height: 45%;
        float: right;        
    }
    .user-information{
        height: 100%;
        float: left;
        width: 40%;
    }
    .user-box h3{        
        font-size: 22px;        
    }
    .user-box span{        
        font-size: 16px;
    }
    .user-box p{
        font-size: 14px;        
    }
    .user-box .recipies{        
        display: flex;
        flex-direction: column;
        text-align: left;
    }    
    .recipies a{        
        font-size: 14px;        
    }
    /*****************USER PROFILE********************/
    .user-profile input{
        width: 40%;
    }   
    .user-profile textarea{
        width: 40%;
    }
    .profile-image {
        float: right;
        width: 50%;
        height: 100%;
    }
    .profile-image img{
        width: 100%;
    }
    .profile-image input{
        position: absolute;
        bottom: 20%;
        left: 55%;

    }
    /*****************USER PROFILE********************/
}

@media only screen and (min-width: 1000px){
    .nav-items{        
        width: 200px;
    }
    .user-box{        
        margin-left: 250px;        
    }
    .user-box img{           
        height: 50%;       
    }  
    .nav-items.open{
        clip-path: circle(2000px at 0% -30%);
        -webkit-clip-path: circle(2000px at 0% -30%);
    } 
}
@media only screen and (min-width: 1200px){
    .user-box{ 
               
        margin-left: 300px;        
    }
    .user-box img{           
        height: 60%;               
    } 
}
@media only screen and (min-width: 1350px){
    .user-box{ 
               
        margin-left: 350px;        
    }
    .user-box img{           
        height: 70%;               
    } 
}
@media only screen and (min-width: 1500px){
    .user-box{ 
               
        margin-left: 350px;        
    }
    .user-box img{           
        height: 85%;
        width: 50%;               
    }
    .user-box h3{        
        font-size: 25px;        
    }
    .user-box span{        
        font-size: 18px;
    }
    .user-box p{
        font-size: 16px;        
    }   
    .recipies a{        
        font-size: 18px;        
    } 
}