*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
:root{
    --blue-solid:rgba(72,78,141,1);
    --blue-transparent:rgba(72,78,141,.2);
    --blue-transparent-alt: rgba(72, 78, 141, 0.5);
}
html{
    font-size: 10px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #ffffff;
    font-family: 'Ubuntu', 'sans-serif';
    font-size: 1.6rem;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
section{
    padding: 5rem 0;
}
.container{
    width: 100%;
    max-width: 140rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 1500;
    transition: background .5s, height .5s;
}
.header.active{
    background: var(--blue-solid);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 1.6rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
}
.menu{
    font-size: 3rem;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 3000;
}
.menu .fa-times{
    display: none;
    color: rgb(207, 72, 72);
}
.open .menu .fa-times{
    display: block;
}
.open .menu .fa-bars{
    display: none;
}
.nav-list{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #262261;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2500;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}
.open .nav-list{
    opacity: 1;
    transform: scale(1);
}
.nav-item:not(:last-child){
    margin-bottom: .5rem;
}
.nav-link{
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    display: block;
    color: #ffffff;
    padding: 1rem;
}
.hero{
    width: 100%;
    height: 100vh;
    background: url("../img/caroline-attwood-8_Tlng54n8Y-unsplash.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 0;
}
.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background: var(--blue-transparent-alt);
    z-index: -1;
}
.main-heading{
    color: #ffffff;
    line-height: 1;
    text-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.5);
}
.title{
    font-size: 4.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}
.recipes{
    font-size: 2.5rem;
    font-weight: 100;
    font-style: italic;
}
.main{
    padding: 10rem 0;
}
.main .container{
    margin: 0 auto;
    align-items: center;
    text-align: center;
}
.main h2{
    color: #262261;
    font-size: 2.5rem;
    text-transform: uppercase;
}
.main h3{
    color: #262261;
    font-size: 2rem;
}
.main .recipe-name{
    padding: 2rem 0;
    border-bottom: 1px solid #e2e2e2;
}
.main .recipe-description{        
    border-bottom: 1px solid #e2e2e2;
}
.main p{
    color: #262261;
    font-size: 1.4rem;
    margin: 2rem 0;
    padding: 0 1rem;
}
.popular-recipe-container{
    padding-top: 5rem;
}
.recipe-container{
    padding-top: 5rem;
}
.popular-recipe-box{
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    align-items: center;
    max-width: 40rem;
    border-radius: 0.5rem;
    background: #f7f7f7;
    box-shadow: 1px 1px 0.5rem rgba(0, 0, 0, .5);
    transition: transform .5s;
    cursor: pointer;
}
.popular-recipe-box:hover{
    transform: scale(1.02);
}
.popular-recipe-box .popular-recipe-image{
    height: 25rem;
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
}
.popular-recipe-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
}
.recipe-link{
    padding: 2rem 1rem;
}
.recipe-link a{
    display: inline-block;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    background: #262261;
    border-radius: 0.3rem;
    transition: background .3s ease-in-out;
}
.recipe-link a:hover{
    background: #45417c;
}
.recipe-box{
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    max-width: 40rem;
    background: #f7f7f7;
    box-shadow: 1px 1px 0.5rem rgba(0, 0, 0, .5);
    border-radius: 0.5rem;
    transition: transform .5s;
    cursor: pointer;
}
.recipe-box:hover{
    transform: scale(1.02);
}
.recipe-box .recipe-image{
    height: 25rem;
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
}
.recipe-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
}
.recipes-box .recipe-link{
    padding: 2rem 1rem;
}
@media screen and (min-width: 450px){
    .popular-recipe-box{
        min-width: 30rem;
    }
    .recipe-box{
        min-width: 30rem;
    }
    .popular-recipe-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        align-items: flex-start;
        grid-gap: 5rem;
    }
    .recipe-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        align-items: flex-start;
        grid-gap: 5rem;
    }
    .main .recipe-description{
        height: 12rem;
    }
}
@media screen and (min-width: 1000px){
    .header{
        height: 10rem;
    }
    .header.active{
        height: 8rem;
    }
    .logo a{
        font-size: 2.5rem;
    }
    .menu{
        display: none;
    }
    .nav-list{
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        flex-direction: row;
        justify-content: initial;
        opacity: 1;
        transform: scale(1);
    }
    .nav-item:not(:last-child){
        margin-right: 5rem;
        margin-bottom: 0;
    }
    .nav-link{
        font-size: 1.6rem;
        font-weight: normal;
        transition: color .5s;
        padding: 0;
    }
    .nav-link:hover{
        color: #45417c;
    }
}
